/* style.css sheet for my Landing Page Project -Roboto Font is being used in the imgs*/

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.header-container {
    background-color: #1f2937;
    display: flex;
}

.header-logo {
    display: flex;
    color: #f9faf8;
    font-size: 24px;
}

.header-link {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}