/* style.css sheet for my Landing Page Project -Roboto Font is being used in the imgs*/

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.header-container {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.header-logo {
    display: flex;
    color: #f9faf8;
    font-size: 24px;
    justify-content: flex-start;
}

.header-link-container {
    font-size: 18px;
    color: #e5e7eb;
    justify-content: flex-end;
}

.header-link {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-container {
    background-color: #1f2937;
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
}